<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Places App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<link rel="stylesheet" href="./static/css/styles.css">
</head>
<body id="top" ng-app="places">
	<section ng-controller="headerCtrl">
		<nav role="navigation">
			<ul id="navbar-name">
				<li>
					<a ng-click="scrollToDiv('top')">Alex Quang</a>
				</li>
			</ul>
			<ul>
				<li title="Navigation Menu" role="mobile-navigation" class="mobile-navigation-btn" ng-class="{ 'open-menu' : openMenu }">
					<a href="javascript:void(0)" ng-click="showLinks()" ng-if="openMenu == false"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
					<a href="javascript:void(0)" ng-click="showLinks()" ng-if="openMenu"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
				</li>
				<li class="mobile-only" ng-class="{ 'mobile-display' : mobileScreen == true, 'hover-link' : mobileScreen == true }"><a href="#top" ng-click="scrollToDiv('top')">Home</a></li>
				<li class="hover-link" ng-class="{ 'mobile-display' : mobileScreen == true }"><a href="javascript:void(0)" ng-click="scrollToDiv('search-box')">Search</a></li>
			</ul>
		</nav>
		<header class="big-header">
			<div class="header-content">
				<h1 class="intro">Places App</h1>
				<span class="arrow" ng-click="scrollToDiv('search-box')"></span>
			</div>
		</header>
	</section>
	<section id="search-box" ng-controller="searchCtrl">
		<div class="description">
			<h2 class="about-app-heading">Hello! Welcome to the Places App</h2>
			<p class="about-the-app">If you are looking for information about a specific location you are in the right place. There are many things that you can try typing into the query box. For example, if you type 'pizza', you will get a list of pizza places near your location. Try it out!</p>
		</div>
		<form role="form" class="search-form">
			<div class="form-group">
				<label for="query">Query:</label>
				<input class="form-control" type="text" name="query" ng-focus="initLoading()" id="query" ng-model="query">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success" ng-click="initPlaces()">Search</button>
			</div>
		</form>
		<div id="load-wrap" ng-if="searching == false && located == false">
			<div id="loading"></div>
		</div>
		<section class="map-wrapper" ng-show="searching == true">
			<div id="gmap"></div>
		</section>
	</section>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=INSERTAPIKEYHERE&libraries=places"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-messages.min.js"></script>
	<script src="/dist/main.js"></script>
</body>
</html>
