@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  overflow: auto; }

nav {
  width: 100%;
  height: 50px;
  background: white;
  box-shadow: 3px 2px 4px -2px black;
  border-bottom: 1px solid white;
  position: fixed;
  padding: 0 25px;
  z-index: 9999;
  text-transform: uppercase; }
  nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right; }
    nav > ul .mobile-only {
      display: none; }
    nav > ul .mobile-navigation-btn {
      display: none; }
    nav > ul .hover-link:hover {
      background: #f2f2f2; }
    nav > ul > li {
      display: inline-block;
      padding: 0 10px;
      float: left; }
      nav > ul > li > a {
        display: block;
        line-height: 50px;
        min-width: 80px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        color: black; }
        nav > ul > li > a:visited, nav > ul > li > a:hover, nav > ul > li > a:link, nav > ul > li > a:active {
          text-decoration: none;
          color: black; }
        nav > ul > li > a > span {
          display: block !important;
          height: 50px;
          line-height: 50px !important; }
  nav #navbar-name {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left; }
    nav #navbar-name li {
      display: inline-block; }
      nav #navbar-name li a {
        display: block;
        line-height: 50px;
        height: 50px;
        min-width: 80px;
        text-align: center;
        text-decoration: none;
        color: black; }

.big-header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/places.jpeg") center center no-repeat;
  background-size: cover;
  /* Additional formatting for arrow */ }
  .big-header .header-content {
    top: 40%;
    margin: 0 auto;
    height: 30%;
    width: 100%;
    color: #fff;
    position: absolute; }
    .big-header .header-content .intro {
      position: absolute;
      font-size: 5em;
      text-transform: uppercase;
      width: 100%;
      font-weight: 700;
      opacity: 0.8;
      margin: 0;
      top: 0; }
  .big-header span {
    display: block;
    font-style: normal;
    position: relative; }
  .big-header span.arrow {
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10em;
    height: 10em;
    border-right: 0.2em solid #fff;
    border-top: 0.2em solid #fff;
    transform: rotate(135deg);
    cursor: pointer; }
    .big-header span.arrow:hover {
      border-right: 0.2em solid #cccccc;
      border-top: 0.2em solid #cccccc;
      width: 10.5em;
      height: 10.5em; }

#search-box {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 3em 0;
  position: relative; }
  #search-box .search-form {
    margin-top: 4em; }

.description {
  width: 75%;
  height: auto;
  margin: 0 auto;
  text-align: justify; }
  .description .about-app-heading {
    margin: 0;
    letter-spacing: 0.13em;
    font-size: 3.2em; }
  .description .about-the-app {
    margin: 1em auto 0 auto; }

.form-control {
  width: 60%;
  margin: 0 auto; }

.map-wrapper {
  height: 40em;
  width: 100%;
  padding: 1em 0 5em 0; }
  .map-wrapper #gmap {
    margin: 0 auto;
    width: 80%;
    min-height: 100%; }

/* ---------------------- 

	-- MEDIA QUERIES --

------------------------*/
@media only screen and (min-width: 320px) and (max-width: 720px) {
  nav {
    padding: 0; }
    nav #navbar-name {
      display: none; }
  nav > ul {
    width: 100%;
    float: none;
    background: rgba(255, 255, 255, 0.7); }
    nav > ul .hover-link:hover {
      background: rgba(0, 0, 0, 0.5); }
    nav > ul > li {
      display: none; }
    nav > ul li.mobile-navigation-btn {
      display: block;
      width: 100%;
      float: none; }
      nav > ul li.mobile-navigation-btn > a {
        display: block;
        width: 100%; }
        nav > ul li.mobile-navigation-btn > a > i {
          display: inline;
          vertical-align: middle; }
    nav > ul li.open-menu {
      background: #f2f2f2; }
    nav > ul li.mobile-display {
      width: 100%;
      display: block;
      float: none;
      height: auto; }
      nav > ul li.mobile-display > a {
        display: block; }
        nav > ul li.mobile-display > a:hover {
          text-decoration: none; } }
